video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .first-container {
    background: url('/public/images/profile_wide.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-end;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .first-container > h1 {
    color: #fff;
    font-size: 100px;
    /* make sure there is top margin to prevent overlap */
    margin-top: 2rem;
    margin-right: 32px;
  }
  
  .first-container > p {
    margin-top: 8px;
    margin-right: 32px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .first-btns {
    margin-top: 175px;
    margin-right: 100px;
    margin-bottom: 32px;
  }
  
  .first-btns .btn {
    margin: 6px;
    padding: 12px 32px;
    font-size: 40px;
  }

  .first-btns .btn:hover {
    /* transparent bacground */
    background-color: #0b35a7;
    color: #fff;
    font-size: 50px;
    transition: all 0.3s ease-out;
  }
  
  @media screen and (max-width: 960px) {
    .first-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .first-container > h1 {
      font-size: 50px;
      margin-top: 100px;
    }
  
    .first-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }

    .first-btns {
      margin-top: 30px;
      margin-right: 32px;
    }

    .first-btns .btn {
      margin: 6px;
      padding: 12px 32px;
      font-size: 20px;
    }

    .first-btns .btn:hover {
      /* transparent bacground */
      background-color: #0b35a7;
      color: #fff;
      font-size: 25px;
      transition: all 0.3s ease-out;
    }
  
    .btn {
      width: 100%;
    }
  }
  